{% extends "/layout/layout.html" %}
{% block content %}
<div class="container mt-5">
  <h1>Dogs</h1>
  <p>
  The domestic dog (Canis lupus familiaris when considered a subspecies of the wolf or Canis familiaris when considered a distinct species) is a member of the genus Canis (canines), which forms part of the wolf-like canids, and is the most widely abundant terrestrial carnivore.The dog and the extant gray wolf are sister taxa as modern wolves are not closely related to the wolves that were first domesticated,which implies that the direct ancestor of the dog is extinct.The dog was the first species to be domesticated and has been selectively bred over millennia for various behaviors, sensory capabilities, and physical attributes.</p>
  <p>Their long association with humans has led dogs to be uniquely attuned to human behavior[18] and they are able to thrive on a starch-rich diet that would be inadequate for other canid species.[19] Dogs vary widely in shape, size and colors.[20] They perform many roles for humans, such as hunting, herding, pulling loads, protection, assisting police and military, companionship and, more recently, aiding disabled people and therapeutic roles. This influence on human society has given them the sobriquet of "man's best friend".</p>
  <hr>
  <h1>Breeds from which to classify</h1>

  <div class="row mb-5">
    {% for dog in breeds %}
    <div class="col-md-6 card mt-3 mr-3 draggable-move">
      <div class="card-body">
        <h2>{{ dog }}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
  <h3 class="white">Credits</h3>
  <p class="white">Source Wikipedia</p>
  <p class="white">Photo by Mitchell Orr on Unsplash</p>
</div>
{% endblock content %}
